*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70vh;
    height: 70vh;
    margin: auto;
    border-radius: 18%;
}
.vermelho{
    background-color: tomato
}
.aprovado{
    background-color: green;
}
.reprovado{
    background-color: red;
}